
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />

@using (Html.BeginForm("Resultado", "Notas"))
{
    <label for="nombre"> Nombre del Estudiante </label>
    <br>
    <input type="text" name="nombre" required>
    <br>
    <label for="lab1"> Laboratorio 1 </label>
    <br>
    <input type="number" step="0.1" name="lab1" required>
    <br>
    <label for="lab2"> Laboratorio 2 </label>
    <br>
    <input type="number" step="0.1" name="lab2" required>
    <br>
    <label for="lab3"> Laboratorio 3 </label>
    <br>
    <input type="number" step="0.1" name="lab3" required>
    <br>

    <label for="par1"> Parcial 1 </label>
    <br>
    <input type="number" step="0.1" name="par1" required>
    <br>

    <label for="par2"> Parcial 2 </label>
    <br>
    <input type="number" step="0.1" name="par2" required>
    <br>

    <label for="par3"> Parcial 3 </label>
    <br>
    <input type="number" step="0.1" name="par3" required>
    <br>
    <br />
    <input type="submit" class="btn-primary" />


}
